NODE_ENV=
PORT=
MONGODB_URI=
GROQ_API_KEY=
GEMINI_API_KEY=
JWT_SECRET=
JWT_EXPIRES_IN=
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
REDIS_HOST=
REDIS_PORT=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_QUEUE=
API_URL=
API_TIMEOUT=
MAX_RETRIES=
RETRY_DELAY_SECONDS=